<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>City Markers</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

  <!-- d3.js -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Mapbox GL -->
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js"></script>
  <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css"/>

  <!-- Turf.js -->
  <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js" charset="utf-8"></script>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/style.css") }}">

  <!-- Trianglify.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.2.0/trianglify.min.js"></script>

  <!-- C3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.11/c3.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.11/c3.min.css">

  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body onresize="triangles();">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 jumbotron text-center" id="triangles">
        <h1>NTSB Aviation Data Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left">Filter Types</h3>
              <button onclick="filtRefresh();" type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
          </div>
          <div class="panel-body">
            <p>Year of Interest:<select onchange="filtYear(this.value);buildRoute();buildPieCharts();" class="pull-right" id="year" style="width:100px"></select></p>
            <p>Flight Phase:<select onchange="filtPhase(this.value);buildRoute();buildPieCharts();" class="pull-right" id="broadPhase" style="width:100px"></select></p>
            <p>Aircraft Type:<select onchange="filtAtype(this.value);buildRoute();buildPieCharts();" class="pull-right" id="atype" style="width:100px"></select></p>
            <p>Injury Severity:<select onchange="filtSeverity(this.value);buildRoute();buildPieCharts();" class="pull-right" id="severity" style="width:100px"></select></p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="alert alert-info text-center" id="hide-alert1" role="alert">Apply filters to visualize data.</div>
          <div class="panel-heading">
            <h3 class="panel-title">Sample Metadata</h3>
          </div>
          <div id="sample-metadata" class="panel-body">
            <h4 class="text-center">% of Amateur-Built Aircrafts</h4>
            <div class="well">  
              <div id="fig3"></div>
            </div>
            <hr>
            <h4 class="text-center">Accidents by Purpose of Flight</h4>
            <div class="well">
              <div id="fig4"></div>
            </div>
            <hr>
            <h4 class="text-center">Accidents by Weather Condition</h4>
            <div class="well">  
              <div id="fig5"></div>
            </div>
            <hr>
            <h4 class="text-center">Extent of Aircraft Damage</h4>
            <div class="well">  
              <div id="fig6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-12">
            <div class="well">
              <div id="map"></div>
              <div class="panel panel-default overlay" id="month-slider">
                <div class="panel-heading">
                  <h3 class="panel-title" id="indicator">Aviation Accidents Per Month</h3>
                </div>
                <div id="sample-metadata" class="panel-body">
                <label id="month"></label>
                <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                  <button onclick="decrement();disableButton();" id="b1" type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                  <button onclick="increment();disableButton();" id="b2" type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                </div>
                <input onchange="disableButton();" id="slider" type="range" min="0" max="11" step="1" value="0"/>
                </div>
              </div>
              <div class="overlay" id="replay">
                <button>Replay</button>
              </div>
              <div class="alert alert-info text-center" id="hide-alert2" role="alert">Interact with slider to visualize data.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="well">
              <div id="fig2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  <!-- end container -->

  <script src="{{ url_for("static", filename="js/config.js") }}"></script>
  <script src="{{ url_for("static", filename="js/app.js") }}"></script>
  <script src="{{ url_for("static", filename="js/map-logic.js") }}"></script>
  <script src="{{ url_for("static", filename="js/freq-logic.js") }}"></script>
  <script src="{{ url_for("static", filename="js/pie-logic.js") }}"></script>

</body>
</html>
